##
## Filename:
##    AcnF2Cassegrain.cfg
##
## Purpose:
##    Axis Control Node - Cassegrain configuration file (Faulkes II Telescope).
##
## Description:
##    This configuration file does the set-up configuration of the cassegrain
##    axis control software for the telescope.
##
## Authors:
##    jdm: Jon D. Mills   (TTL)
##    mjf: Martyn J. Ford (TTL)
##    djm: Derek J. McKay (TTL)
##
## Version:
##   $Id: AcnF2Cassegrain.cfg,v 0.25 2007/09/25 12:54:57 mjf Exp $
##
## History:
##   $Log: AcnF2Cassegrain.cfg,v $
##   Revision 0.25  2007/09/25 12:54:57  mjf
##   Brought in line with ETC_0_86 (TQB_0_61) on QNX v4.
##
##   Revision 0.24  2006/10/06 07:49:15  mjf
##   Axis and motor torque limits tweaked following axis stalls.
##
##   Revision 0.23  2006/09/11 13:58:34  mjf
##   Use H-infinity controller and VFB=50%.
##
##   Revision 0.22  2006/08/18 13:52:30  mjf
##   Increase in torque limits.
##   IK220 ports re-mapped for replacement node.
##
##   Revision 0.21  2006/04/26 13:15:17  mjf
##   Reflecting astronomical commissioning on site.
##
##   Revision 0.20  2006/04/04 10:42:47  mjf
##   Encoder offsets tweaked. PID P1 gain increased from 19000000 to 22800000.
##
##   Revision 0.19  2006/03/28 12:20:07  mjf
##   Motor velocity feedback fraction increased from 0% to 40%.
##
##   Revision 0.18  2005/10/12 13:41:46  mjf
##   Setting of axis torque limit to 1700 mNm following confirmation from GAM.
##
##   Revision 0.17  2004/09/23 14:38:14  mjf
##   Setting motor velocity feedback fraction to 0%. Until AMC v0.86,
##   this wasn't implemented in PID anyway (i.e. effectively as 0%).
##
##   Revision 0.16  2004/09/21 14:59:10  mjf
##   Correction of acceleration limit to be 0.5 deg/sec/sec.
##
##   Revision 0.15  2004/09/07 14:16:38  mjf
##   Addition of preferred axis park position.
##
##   Revision 0.14  2004/08/11 16:11:47  mjf
##   Axis torque limit reduced. Velocity control parameter specified.
##
##   Revision 0.13  2004/08/02 15:45:26  mjf
##   Following controller tuning - change in motor velocity feedback fraction.
##
##   Revision 0.12  2004/06/30 14:55:13  mjf
##   Encoder positions from site commissioning. Correct PID parameters,
##   velocity/acceleration limits and motor velocity feedback fraction.
##
##   Revision 0.11  2004/02/05 14:34:25  mjf
##   Addition of VEN '-homeonly' flag so the overall node state goes
##   Failed if no encoders home, so node then gets recovered.
##
##   Revision 0.10  2003/12/16 16:55:31  mjf
##   TFP goes failed on inability to lock after 100 seconds, not 250.
##
##   Revision 0.9  2003/11/04 13:23:40  mjf
##   Addition of maximum allowable time for TFP to lock.
##
##   Revision 0.8  2003/11/03 15:02:01  mjf
##   Addition of '-lockonly' flag for TFP, to eliminate problem of failure
##   to lock to IRIG-B source.
##
##   Revision 0.7  2003/09/04 09:44:53  mjf
##   Standardisation on homing velocity/time, and addition of home attract
##   position.
##
##   Revision 0.6  2003/08/08 11:12:29  mjf
##   Spawn 4 additional heartbeat agents, and 2 less of each of get/set
##   attribute agents.
##
##   Revision 0.5  2003/07/09 11:44:17  mjf
##   Set unused encoder (3 & 4) positions to zero for completeness.
##
##   Revision 0.4  2003/05/01 16:54:30  mjf
##   Following initial factory system integration.
##
##   Revision 0.3  2003/01/17 14:54:31  mkb
##   Set L1 limit range from -240 to + 240 degrees.
##
##   Revision 0.2  2002/07/05 15:43:17  mjf
##   Initial contents based on IUCAA files.
##
##   Revision 0.1  2002/01/23 14:17:12  mjf
##   Initial revision.
##
##
##


#
#  OID Server spawn settings
#
# RepServer
CSN,  SPAWN,   /ttl/sw/bin/Rep -q -cassegrain
# Generic agents
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
# Node State Controller
CSN,  SPAWN,   /ttl/sw/bin/Nsc -config /ttl/sw/etc/AcnCassegrain.cfg
# ACN Comms-out
CSN,  SPAWN,   /ttl/sw/bin/Nco -q -cassegrain 
# ACN Comms-in
CSN,  SPAWN,   /ttl/sw/bin/Nci -q -cassegrain 


#  NSC spawn settings.
#
#              PATH                          COMMAND_LINE_ARGUMENTS
NSC,  SPAWN,   /ttl/sw/bin/Tfp -q -lockonly
NSC,  SPAWN,   /ttl/sw/bin/Mif -q -config /ttl/sw/etc/AcnCassegrain.cfg
NSC,  SPAWN,   /ttl/sw/bin/Aei -q -cassegrain
NSC,  SPAWN,   /ttl/sw/bin/Aes -q
NSC,  SPAWN,   /ttl/sw/bin/Ven -q -config /ttl/sw/etc/AcnCassegrain.cfg -cas -homeonly
# NSC,  SPAWN,   /ttl/sw/bin/Amc -q -config /ttl/sw/etc/AcnCassegrain.cfg -logger
NSC,  SPAWN,   /ttl/sw/bin/Amc -q -config /ttl/sw/etc/AcnCassegrain.cfg -logger -hinfinity /ttl/sw/etc/Hnf_hcas3discrete_25.cfg
NSC,  SPAWN,   /ttl/sw/bin/Asc -q
NSC,  SPAWN,   /ttl/sw/bin/Nmc -q


# TFP DataID Initial settings.
TFP,  SET,  D_TFP_MAX_FLYWHEELCOUNT,            20          # Fail if not locked in 100 secs

# AMC DataID Initial settings.
AMC,  SET,  D_AMC_LIMIT_RECOVERY_DISTANCE,      10000       # Limit recovery distance in m.a.s.
AMC,  SET,  D_AMC_PID_P1_GAIN,                  34200000    #  P1 gain (x 1e9).
AMC,  SET,  D_AMC_PID_P2_GAIN,                  1014000     #  P2 gain (x 1e9).
AMC,  SET,  D_AMC_PID_K1_GAIN,                  86000       #  K1 gain (x 1e9).
AMC,  SET,  D_AMC_HOMING_VELOCITY,              3600        # Homing velocity in mas/sec.
AMC,  SET,  D_AMC_MAX_HOMING_DURATION,          20          # Maximum homing duration (seconds).
AMC,  SET,  D_AMC_VELOCITY_LIMIT,               7200        # Maximum velocity in as/s.
AMC,  SET,  D_AMC_ACCELERATION_LIMIT,           1800        # Maximum acceleration in as/s^2.
AMC,  SET,  D_AMC_VELOCITY_CONTROL_DC_GAIN,     2           # Velocity loop gain
AMC,  SET,  D_AMC_MTR_VEL_FEEDBACK_FRACTION,    50000       # For motor torque correction (/2)

# MIF DataID Initial settings.
MIF,  SET,  D_MIF_AXIS_TORQUE_LIMIT,            2700        # Axis torque limit in mNm.
MIF,  SET,  D_MIF_AMPLIFIER_GAIN,               2000        # Amplifier gain in milli-Amps per Volt.
MIF,  SET,  D_MIF_MOTOR_GAIN,                   251         # Motor gain in mNm per Amp.
MIF,  SET,  D_MIF_DAC_GAIN,                     3277        # Dac gain in bits per volt.
MIF,  SET,  D_MIF_DAC_OFFSET,                   32768       # Dac offset in bits.
MIF,  SET,  D_MIF_MOTOR_FULL_PRELOAD_TORQUE,    500         # Motor preload torque in milli Newton metres.
MIF,  SET,  D_MIF_MOTOR_TORQUE_MAX_LIMIT,       1850        # Maximum value for any one motor torque
MIF,  SET,  D_MIF_MOTOR_TORQUE_MIN_LIMIT,         30        #  Minimum value for any one motor torque


# VEN DataID Initial settings.
VEN,  SET,  D_VEN_AXIS_COUNTS_PER_REV,          77739       # Number of tape counts per axis rev.
VEN,  SET,  D_VEN_MOTOR_COUNTS_PER_REV,         5000        # Number of tape counts per motor rev.
VEN,  SET,  D_VEN_MIN_TAPE_DIFF_COUNT,          423         # Minimum tape difference count.
VEN,  SET,  D_VEN_MAX_TAPE_DIFF_COUNT,          499         # Maximum tape difference count.
VEN,  SET,  D_VEN_AXIS_ENCODER_NEG_FEEDBACK,    0           # Negative axis position feedback.
VEN,  SET,  D_VEN_MOTOR_ENCODER_NEG_FEEDBACK,   1           # Negative motor position feedback.
VEN,  SET,  D_VEN_AXIS_ENC_1_OFFSET,            300646858   #304390797   # Axis encoder 1 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_1_OFFSET_DUMMY,      0		    # Axis encoder 1 offset count (MSW).
VEN,  SET,  D_VEN_AXIS_ENC_2_OFFSET,            141495946   #145187966   # Axis encoder 2 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_2_OFFSET_DUMMY,      0		    # Axis encoder 2 offset count (MSW).
#
VEN,  SET,  D_VEN_JOIN_POSITION,                 50400000   # Join position relative to North in mas = 14 deg.
VEN,  SET,  D_VEN_HEAD_1_POSITION,               324000000  # Head 1  (E) position relative to North in mas = +90 deg.
VEN,  SET,  D_VEN_HEAD_2_POSITION,              -324000000  # Head 2  (W) position relative to North in mas = -90 deg.
VEN,  SET,  D_VEN_HEAD_3_POSITION,               0          # Head 3 (NE) position relative to North in mas = +45 deg.
VEN,  SET,  D_VEN_HEAD_4_POSITION,               0          # Head 4 (NW) position relative to North in mas = -45 deg.
VEN,  SET,  D_VEN_CLOCKWISE_L1_LIMIT_POSITION,   864000000  # CW L1 limit in mas  = +240 deg.
VEN,  SET,  D_VEN_ANTI_CW_L1_LIMIT_POSITION,    -864000000  # ACW L1 limit in mas  = -240 deg.
VEN,  SET,  D_VEN_ABS_LIN_ENC_TOLERANCE,         54000000   # Max. permitted Abs/Lin Enc. difference (mas)
VEN,  SET,  D_VEN_EXPECTED_ENCODER_MASK,         3           # Bitmask of encoders expected to be used
VEN,  SET,  D_VEN_AXIS_HOME_ATTRACT_POSITION,    0           # Position towards which the axis should be homed (mas).
VEN,  SET,  D_VEN_AXIS_PARK_POSITION,            0           # Preferred axis parked position

VEN,  SET,  D_VEN_HHE_TAPE_ENC_1_PORT,           0
VEN,  SET,  D_VEN_HHE_MOTOR_1_PORT,              2

#
# EOF.
#
