##
## Filename:
##    AcnLtCassegrain.cfg
##
## Purpose:
##    Axis Control Node - Cassegrain configuration file.
##
## Description:
##    -
##
## Authors:
##    jdm: Jon D. Mills   (TTL)
##    mjf: Martyn J. Ford (TTL)
##
## Version:
##   $Id: AcnLtCassegrain.cfg,v 0.36 2007/12/04 08:55:57 mjf Exp $
##
## History:
##   $Log: AcnLtCassegrain.cfg,v $
##   Revision 0.36  2007/12/04 08:55:57  mjf
##   Customer-advised configuration updates :-
##   - L1 limits restricted to +/- 90 degrees
##
##   Revision 0.35  2007/09/25 12:54:57  mjf
##   Brought in line with ETC_0_86 (TQB_0_61) on QNX v4.
##
##   Revision 0.34  2006/02/09 17:13:46  mjf
##   Increase in axis torque limit from 1700 to 2500.
##
##   Revision 0.33  2005/10/12 13:41:46  mjf
##   Setting of axis torque limit to 1700 mNm following confirmation from GAM.
##
##   Revision 0.32  2004/11/02 15:43:37  mjf
##   Following controller tuning work during October 2004 site trip.
##
##   Revision 0.31  2004/09/23 14:38:14  mjf
##   Setting motor velocity feedback fraction to 0%. Until AMC v0.86,
##   this wasn't implemented in PID anyway (i.e. effectively as 0%).
##
##   Revision 0.30  2004/09/21 14:59:10  mjf
##   Correction of acceleration limit to be 0.5 deg/sec/sec.
##
##   Revision 0.29  2004/09/13 09:19:28  mjf
##   Implementation of correct velocity control DC gain and homing velocity
##   accordingly. Minimum motor torque limit set same as other telescopes.
##
##   Revision 0.28  2004/09/07 14:16:38  mjf
##   Addition of preferred axis park position.
##
##   Revision 0.27  2004/09/06 13:52:48  mjf
##   Addition of preferred VELOCITY_CONTROL_DC_GAIN but commented out
##   pending testing on site. Note that the HOMING_VELOCITY should be
##   increased to 3600 in conjunction with this change.
##
##   Revision 0.26  2004/02/05 14:34:25  mjf
##   Addition of VEN '-homeonly' flag so the overall node state goes
##   Failed if no encoders home, so node then gets recovered.
##
##   Revision 0.25  2004/02/05 13:47:17  mjf
##   L1 limits set to +/- 240 as required.
##
##   Revision 0.24  2003/12/16 16:55:31  mjf
##   TFP goes failed on inability to lock after 100 seconds, not 250.
##
##   Revision 0.23  2003/11/04 13:23:40  mjf
##   Addition of maximum allowable time for TFP to lock.
##
##   Revision 0.22  2003/11/03 15:02:01  mjf
##   Addition of '-lockonly' flag for TFP, to eliminate problem of failure
##   to lock to IRIG-B source.
##
##   Revision 0.21  2003/09/05 09:45:00  mjf
##   Slowing down of axis velocity to 2 deg/sec, and limits changed to
##   +180 to -180.
##
##   Revision 0.20  2003/09/04 09:44:53  mjf
##   Standardisation on homing velocity/time, and addition of home attract
##   position.
##
##   Revision 0.19  2003/08/08 11:42:31  mjf
##   Updates following First Light on site.
##
##   Revision 0.18  2003/08/08 11:12:29  mjf
##   Spawn 4 additional heartbeat agents, and 2 less of each of get/set
##   attribute agents.
##
##   Revision 0.17  2003/07/09 11:48:49  mjf
##   Addition of ENCODER_NEG_FEEDBACK parameters.
##
##   Revision 0.16  2003/07/09 11:37:29  mjf
##   Following initial Liverpool site System Integration.
##
##   Revision 0.15  2003/07/08 16:22:32  mjf
##   Updated following Faulkes 2 factory integration.
##
##   Revision 0.14  2003/01/17 14:52:06  mkb
##   Set L1 limit range from -240 to +240 degrees.
##
##   Revision 0.13  2002/03/05 17:09:12  djm
##   Added the tolerance for the linear/absolute encoder
##   differences (VEN), and the bitmask for the expected
##   encoders for the axis.
##
##   Revision 0.12  2001/11/02 14:06:04  djm
##   Removed obsolete D_MIF_MOTOR_TORQUE_LIMIT from file.
##
##   Revision 0.11  2001/09/21 15:29:24  mjf
##   Use new three-letter process names.
##
##   Revision 0.10  2001/09/14 14:29:04  mjf
##   Changes to axis node configuration files. Start-up and shutdown order
##   corrected for end-clients. Debug, quiet and paths tidied.
##
##   Revision 0.9  2001/09/03 11:45:53  djm
##   Changed debug priority on ACN software.
##
##   Revision 0.8  2001/08/09 17:17:32  djm
##   Added SHUTDOWN command lines for the NSC. These list the
##   OIDs in end-clients that need to be set before the NSC
##   terminates. At this stage it is only the SERVER_SHUTDOWN
##   OIDs that are set, however the mechanism is generic and
##   may also be used for other OIDs.
##
##   Revision 0.7  2001/07/27 15:52:55  djm
##   Removed VEN OID that didn't exist.
##
##   Revision 0.6  2001/07/26 15:49:07  mjf
##   Addition of agent quantities.
##
##   Revision 0.5  2001/03/26 12:56:52  mjf
##   Add delay after spawning RepServer to enable RepServer to create the
##   necessary queue.
##
##   Revision 0.4  2001/03/23 16:42:31  mjf
##   Change of name to be telescope-specific.
##
##   Revision 0.3  2001/03/23 16:05:14  mjf
##   Updated using parameters obtained on IUCAA telescope.
##
##   Revision 0.2  2001/03/23 13:01:35  mjf
##   Start RepServer as first item in configuration file.
##
##   Revision 0.1  2001/03/22 18:57:32  mjf
##   Initial revision.
##
##
##


#
#  OID Server spawn settings
#
# RepServer
CSN,  SPAWN,   /ttl/sw/bin/Rep -q -cassegrain
# Generic agents
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
CSN,  SPAWN,   /ttl/sw/bin/Agn -q -cassegrain
# Node State Controller
CSN,  SPAWN,   /ttl/sw/bin/Nsc -config /ttl/sw/etc/AcnCassegrain.cfg
# ACN Comms-out
CSN,  SPAWN,   /ttl/sw/bin/Nco -q -cassegrain 
# ACN Comms-in
CSN,  SPAWN,   /ttl/sw/bin/Nci -q -cassegrain 


#  NSC spawn settings.
#
#              PATH                          COMMAND_LINE_ARGUMENTS
NSC,  SPAWN,   /ttl/sw/bin/Tfp -q -lockonly
NSC,  SPAWN,   /ttl/sw/bin/Mif -q -config /ttl/sw/etc/AcnCassegrain.cfg
NSC,  SPAWN,   /ttl/sw/bin/Aei -q -cassegrain
NSC,  SPAWN,   /ttl/sw/bin/Aes -q
NSC,  SPAWN,   /ttl/sw/bin/Ven -q -config /ttl/sw/etc/AcnCassegrain.cfg -cas -homeonly
NSC,  SPAWN,   /ttl/sw/bin/Amc -q -config /ttl/sw/etc/AcnCassegrain.cfg -logger
NSC,  SPAWN,   /ttl/sw/bin/Asc -q
NSC,  SPAWN,   /ttl/sw/bin/Nmc -q


# TFP DataID Initial settings.
TFP,  SET,  D_TFP_MAX_FLYWHEELCOUNT,            20          # Fail if not locked in 100 secs

# AMC DataID Initial settings.
AMC,  SET,  D_AMC_LIMIT_RECOVERY_DISTANCE,      10000       # Limit recovery distance in m.a.s.
AMC,  SET,  D_AMC_PID_P1_GAIN,                  38000000    # P1 gain (x 1e9).
AMC,  SET,  D_AMC_PID_P2_GAIN,                  1014000     # P2 gain (x 1e9).
AMC,  SET,  D_AMC_PID_K1_GAIN,                  172000      # K1 gain (x 1e9).
AMC,  SET,  D_AMC_HOMING_VELOCITY,              3600        # Homing velocity in mas/sec.
AMC,  SET,  D_AMC_MAX_HOMING_DURATION,          20          # Maximum homing duration (seconds).
AMC,  SET,  D_AMC_VELOCITY_LIMIT,               7200        # 7200 # Maximum velocity in as/s.
AMC,  SET,  D_AMC_ACCELERATION_LIMIT,           1800        # Maximum acceleration in as/s^2.
AMC,  SET,  D_AMC_VELOCITY_CONTROL_DC_GAIN,     2           # Velocity loop gain
AMC,  SET,  D_AMC_MTR_VEL_FEEDBACK_FRACTION,    40000       # For motor torque correction (/2)



# MIF DataID Initial settings.
MIF,  SET,  D_MIF_AXIS_TORQUE_LIMIT,            2500        # Axis torque limit in mNm.
MIF,  SET,  D_MIF_AMPLIFIER_GAIN,               2000        # Amplifier gain in milli-Amps per Volt.
MIF,  SET,  D_MIF_MOTOR_GAIN,                   251         # Motor gain in mNm per Amp.
MIF,  SET,  D_MIF_DAC_GAIN,                     3277        # Dac gain in bits per volt.
MIF,  SET,  D_MIF_DAC_OFFSET,                   32768       # Dac offset in bits.
MIF,  SET,  D_MIF_MOTOR_FULL_PRELOAD_TORQUE,    550         # Motor preload torque in milli Newton metres.
MIF,  SET,  D_MIF_MOTOR_TORQUE_MAX_LIMIT,       1800        # 1500 # Maximum value for any one motor torque
MIF,  SET,  D_MIF_MOTOR_TORQUE_MIN_LIMIT,       30          # Minimum value for any one motor torque


# VEN DataID Initial settings.
VEN,  SET,  D_VEN_AXIS_COUNTS_PER_REV,          77739       # Number of tape counts per axis rev.
VEN,  SET,  D_VEN_MOTOR_COUNTS_PER_REV,         5000        # Number of tape counts per motor rev.
VEN,  SET,  D_VEN_MIN_TAPE_DIFF_COUNT,          423         # Minimum tape difference count.
VEN,  SET,  D_VEN_MAX_TAPE_DIFF_COUNT,          499         # Maximum tape difference count.
VEN,  SET,  D_VEN_AXIS_ENCODER_NEG_FEEDBACK,    0           # Negative axis position feedback.
VEN,  SET,  D_VEN_MOTOR_ENCODER_NEG_FEEDBACK,   1           # Negative motor position feedback.
VEN,  SET,  D_VEN_JOIN_POSITION,                205200000   # Number of tape counts per axis rev.
VEN,  SET,  D_VEN_AXIS_ENC_1_OFFSET,            99253871    # Axis encoder 1 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_1_OFFSET_DUMMY,      0           # Axis encoder 1 offset count (MSW).
VEN,  SET,  D_VEN_AXIS_ENC_2_OFFSET,            258466804   # Axis encoder 2 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_2_OFFSET_DUMMY,      0           # Axis encoder 2 offset count (MSW).
VEN,  SET,  D_VEN_AXIS_ENC_3_OFFSET,            0           # Axis encoder 3 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_3_OFFSET_DUMMY,      0           # Axis encoder 3 offset count (MSW).
VEN,  SET,  D_VEN_AXIS_ENC_4_OFFSET,            0           # Axis encoder 4 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_4_OFFSET_DUMMY,      0           # Axis encoder 4 offset count (MSW).
VEN,  SET,  D_VEN_HEAD_1_POSITION,              324000000   # Head 1 position relative to North in m.a.s. - used for homing direction purposes.
VEN,  SET,  D_VEN_HEAD_2_POSITION,             -324000000   # Head 2 position relative to North in m.a.s. - used for homing direction purposes.
VEN,  SET,  D_VEN_HEAD_3_POSITION,              0           # Head 3 position relative to North in m.a.s. - used for homing direction purposes.
VEN,  SET,  D_VEN_HEAD_4_POSITION,              0           # Head 4 position relative to North in m.a.s. - used for homing direction purposes.
# VEN,  SET,  D_VEN_CLOCKWISE_L1_LIMIT_POSITION,   864000000  # C/W limit position in m.a.s.(240 deg)
# VEN,  SET,  D_VEN_ANTI_CW_L1_LIMIT_POSITION,    -864000000  # Anti-C/W limit position in m.a.s. (-240 deg)
VEN,  SET,  D_VEN_CLOCKWISE_L1_LIMIT_POSITION,   324000000  # C/W limit position in m.a.s.(90 deg)
VEN,  SET,  D_VEN_ANTI_CW_L1_LIMIT_POSITION,    -324000000  # Anti-C/W limit position in m.a.s. (-90 deg)
VEN,  SET,  D_VEN_ABS_LIN_ENC_TOLERANCE,        54000000    # Max. permitted Abs/Lin Enc. difference (mas)
VEN,  SET,  D_VEN_EXPECTED_ENCODER_MASK,        3           # Bitmask of encoders expected to be used
VEN,  SET,  D_VEN_AXIS_HOME_ATTRACT_POSITION,   0           # Position towards which the axis should be homed (mas).
VEN,  SET,  D_VEN_AXIS_PARK_POSITION,           0           # Preferred axis parked position

#
# EOF.
#

