##
## Filename:
##    AggIt.cfg
##
## Purpose:
##    Autoguider guide process - configuration file (IUCAA Telescope).
##
## Description:
##    -
##
## Authors:
##    Steve Foale (sxf)
##
## Version:
##   $Id: AggIt.cfg,v 0.14 2005/12/06 11:12:35 mjf Exp $
##
## History:
##   $Log: AggIt.cfg,v $
##   Revision 0.14  2005/12/06 11:12:35  mjf
##   Following further astronomical commissioning..
##
##   Revision 0.13  2005/11/20 21:20:12  mjf
##   Following mid-November site work.
##
##   Revision 0.12  2005/09/28 12:41:40  mjf
##   Addition of 'TRACK WINDOW PIXELS' item.
##
##   Revision 0.11  2005/06/13 13:54:11  mjf
##   Astronomical commissioning during early June 2005.
##
##   Revision 0.10  2005/06/13 13:06:22  mjf
##   Following astronomical commissioning in May 2005.
##
##   Revision 0.9  2004/01/20 10:58:13  man
##   Removed unused configuration items.
##
##   Revision 0.8  2003/09/29 11:04:16  man
##   Included configuration items for selecting the
##   default calibration filenames.
##
##   Revision 0.7  2003/09/10 14:48:56  man
##   Included calibration frame parameters used to specify
##   how many frames should be averaged. Also added cooler
##   PID parameters.
##
##   Revision 0.6  2003/09/04 09:47:43  mjf
##   Addition of flat frame average and flat frame itime factor.
##
##   Revision 0.5  2002/05/24 08:59:57  sxf
##   "Template" configuration file with all configurable items.
##
##   Revision 0.4  2002/04/10 14:05:49  man
##   Updated file to include standard deviation
##   parameters.
##
##   Revision 0.3  2002/02/13 13:27:50  sxf
##   Remove unecessary definitions and loosen criteria
##   for confidence computation.
##
##   Revision 0.2  2001/12/05 14:08:43  mjf
##   Change of filename in comment block to be telescope-specific.
##
##   Revision 0.1  2001/10/10 13:35:39  sxf
##   Initial version.c
##
##
##
# Name of telescope (string). Default = LIVERPOOL.
TELESCOPE NAME               , IUCAA

# PID parameters for the CCD cooler control algorithm
# Proportional component. Default = 5.
#PID PROPORTIONAL             , 20 

# Integral component. Default = 1.   
#PID INTEGRAL                 , 1

# Differential component. Default = 0.
#PID DIFFERENTIAL             , 2

#Delay component. Default = 192.
#PID DELAY                    , 128

# Calibration frame image parameters
BIAS FILENAME, AggBiasframe5.raw
DARK FILENAME, AggDarkframe6.raw
FLAT FILENAME, AggFlatframe11.raw
BIAS FRAME AVERAGE           , 1
DARK FRAME AVERAGE           , 1  
FLAT FRAME AVERAGE           , 1
FLAT FRAME ITIME FACTOR      , 1.4
 
 
# Flag to use either a fixed (1) or dynamic (0) threshold based 
# on background noise.
#USE FIXED THRESHOLD          , 0

# Initial integration time, milliseconds. Default = 200 ms.
#INTEGRATION TIME             , 200

# Fixed threshold for star detection, counts. Default = 1000 counts.
FIXED THRESHOLD              , 500

# Number of retries after a star has vanished during guiding. Default = 3 tries.
RETRIES AFTER VANISHED       , 10

# Flag to allow guide window to track with star (1) or not (0). Default = 1.
#TRACK WINDOW                 , 1

# Allow integration time to automatically adjust (1) or not (0). Default = 1.
#TRACK INTEGRATION            , 1

# Number of centroids to average over when reporting centroid. Default = 1.
#RUNNING AVERAGE              , 1

# Maximum allowed integration time (milliseconds). Default = 25000 ms.
#MAXIMUM INTEGRATION TIME     , 25000

# Minimum allowed integration time (milliseconds).
#MINIMUM INTEGRATION TIME     , 200

# Multiplication factor for field image integration time. Default = 5.
#FIELD SCALE FACTOR            , 5

# Multiplication factor for guide image integration time. Default = 2.
#GUIDE SCALE FACTOR            , 2

# CCD Saturation level used to determine if a star is too bright. Default = 50000
#CCD SATURATION                , 50000

# Lower limit on the number of pixels in a star (pixels). Default = 8.
#MINIMUM SIZE                 , 8

# Upper limit on the number of pixels in a star (pixels). Default = 5000.
MAXIMUM SIZE                 , 10000

# Stars rejected as too close to edge if less than value (pixels). Default = 5.
#EDGE BORDER                  , 5

# Upper noise threshold for star detection (number of stdevs). Default = 5.0.
UPPER SD THRESHOLD           , 5.0 

# Lower noise threshold for connectivity search (number of stdevs). Default = 5.0.
LOWER SD THRESHOLD           , 3.0

# Target temperature for CCD chip (celcius). Default = 0.0 C.
#CHIP TEMPERATURE             , 0.0

# Tolerance for CCD chip cooling (celcius). Default = 1.5 C. 
#TEMPERATURE TOLERANCE        , 1.5

# Limit below which object judged as not bright enough (counts). Default = 0.
#MINIMUM BRIGHTNESS           , 0.0

# Limit above which object judged as too bright (counts). Default = 49999.0.
#MAXIMUM BRIGHTNESS           , 49999.0

# Lower limit on FWHM of star (pixels). Default = 0.5.
MINIMUM SIGMA                , 0.5

# Upper limit on FWHM of star (pixels). Default = 10.0.
MAXIMUM SIGMA                , 60.0

# Minimum separation for stars in star log (pixels). Default = 5.0.
#MINIMUM SEPARATION           , 5.0

# Offset used converting brightness to star magnitude (magnitudes). Default = 9.1046e9.
#STAR MAG OFFSET              , 9.1046e9

# Number of pixels from window edge before window will recentre. Default = 2
TRACK WINDOW PIXELS          , 6

## End of Agg configuration file.


