##
## Filename:
##    AmnF1Mirror.cfg
##
## Purpose:
##    Auxiliary Mechanism Node - Primary Mirror Support configuration file 
##    (Faulkes I Telescope).
##
## Description:
##    This configuration file does the set-up configuration of the primary
##    mirror support software for the telescope.
##
## Authors:
##    mjf: Martyn J. Ford (TTL)
##
## Version:
##   $Id: AmnF1Mirror.cfg,v 0.20 2007/09/25 12:54:57 mjf Exp $
##
## History:
##   $Log: AmnF1Mirror.cfg,v $
##   Revision 0.20  2007/09/25 12:54:57  mjf
##   Brought in line with ETC_0_86 (TQB_0_61) on QNX v4.
##
##   Revision 0.19  2006/10/06 07:49:15  mjf
##   Yellow and blue ACADS tweaked (29 Sep 2006).
##
##   Revision 0.18  2006/09/04 09:22:17  mjf
##   Collimation as achieved at end of site work.
##
##   Revision 0.17  2006/08/24 14:16:44  mjf
##   Removal of redundant agents and increase in number of GET agents.
##
##   Revision 0.16  2006/01/12 13:04:08  mjf
##   Revised collimation done in late December 2005.
##
##   Revision 0.15  2005/09/28 12:31:28  mjf
##   Following September 2005 site work.
##
##   Revision 0.14  2005/09/14 15:01:38  mjf
##   Addition of yellow axial load offset of 400.
##
##   Revision 0.13  2004/11/02 16:06:33  mjf
##   Run ACM ACADS code operationally.
##
##   Revision 0.12  2004/09/09 11:38:29  mjf
##   Addition of correct collimated linear encoder parameters (nanometres).
##
##   Revision 0.11  2004/08/13 13:54:57  mjf
##   Addition of datum entries for SIF analog input offsets (set to 0).
##
##   Revision 0.10  2004/02/05 11:48:47  mjf
##   Increase in number of 'get' agents as needed during Oper On/Off.
##
##   Revision 0.9  2003/12/19 10:26:00  mjf
##   Comments added for ACADS positions.
##
##   Revision 0.8  2003/11/03 14:57:08  mjf
##   Updated following further integration on site.
##
##   Revision 0.7  2003/08/08 12:24:24  mjf
##   Updated following initial system integration on site.
##
##   Revision 0.6  2003/08/08 11:30:29  mjf
##   Addition of 4 more heartbeat agents, and reduction of 2 get/set
##   attribute agents.
##
##   Revision 0.5  2003/07/08 16:23:03  mjf
##   Updated following Faulkes 2 factory integration.
##
##   Revision 0.4  2003/02/03 15:16:51  man
##   Updated Sif to read configuration file. Included OIDs
##   for inclinometer coefficients and axial gains.
##
##   Revision 0.3  2002/08/13 11:06:26  man
##   Removed the inclinometer spawn as it is no longer used.
##   Set the axial and lateral gains to that used by
##   Liverpool Telescope (also the default values).
##   ,.
##
##   Revision 0.2  2002/07/05 15:43:17  mjf
##   Initial contents based on IUCAA files.
##
##   Revision 0.1  2002/01/23 14:17:12  mjf
##   Initial revision.
##
##
##


#
#  OID Server spawn settings
#
# RepServer
PMN,  SPAWN,   /ttl/sw/bin/Rep -q -mirror
PMN,  DELAY,   2000
# Generic agents
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
PMN,  SPAWN,   /ttl/sw/bin/Agn -q -mirror
# Auxiliary mechanism state controller
PMN,  SPAWN,   /ttl/sw/bin/Pms -config /ttl/sw/etc/AmnMirror.cfg
# ACN Comms-out
PMN,  SPAWN,   /ttl/sw/bin/Nco -q -mirror
# ACN Comms-in
PMN,  SPAWN,   /ttl/sw/bin/Nci -q -mirror
PMN,  DELAY,   2000

#
#  PMS spawn settings
#
PMS, SPAWN, /ttl/sw/bin/Sif -q -conf /ttl/sw/etc/AmnMirror.cfg
PMS, SPAWN, /ttl/sw/bin/Can -q -mirror
PMS, SPAWN, /ttl/sw/bin/Acm -q -config /ttl/sw/etc/AmnMirror.cfg


SIF, SET,  D_SIF_INCLINOMETER_GRADIENT,   22705
SIF, SET,  D_SIF_INCLINOMETER_INTERCEPT,  159890 
SIF, SET,  D_SIF_RED_AXIAL_GAIN,          2000
SIF, SET,  D_SIF_YEL_AXIAL_GAIN,          2000
SIF, SET,  D_SIF_BLU_AXIAL_GAIN,          2000
SIF, SET,  D_SIF_LATERAL_GAIN,            100

SIF, SET,  D_SIF_OFFSET_REF_V_MONITOR,           0
SIF, SET,  D_SIF_OFFSET_RED_AXIAL_LOAD,          0
SIF, SET,  D_SIF_OFFSET_YEL_AXIAL_LOAD,          400
SIF, SET,  D_SIF_OFFSET_BLU_AXIAL_LOAD,          0
SIF, SET,  D_SIF_OFFSET_RED_RADIAL_LOAD,         0
SIF, SET,  D_SIF_OFFSET_YEL_RADIAL_LOAD,         0
SIF, SET,  D_SIF_OFFSET_BLU_RADIAL_LOAD,         0
SIF, SET,  D_SIF_OFFSET_RED_AXIAL_VALVE_FBK,     0  
SIF, SET,  D_SIF_OFFSET_YEL_AXIAL_VALVE_FBK,     0     
SIF, SET,  D_SIF_OFFSET_BLU_AXIAL_VALVE_FBK,     0   
SIF, SET,  D_SIF_OFFSET_LAT_LOAD_VALVE_FBK,      0     
SIF, SET,  D_SIF_OFFSET_LAT_PRELOAD_VALVE_FBK,   0        
SIF, SET,  D_SIF_OFFSET_LAT_2_LOAD_VALVE_FBK,    0       
SIF, SET,  D_SIF_OFFSET_LAT_2_PRELOAD_VALVE_FBK, 0          

ACM,  SET,     D_ACM_ACM_RANGE_LO,           -7500000
ACM,  SET,     D_ACM_ACM_RANGE_HI,           0
ACM,  SET,     D_ACM_RELATIVE_RANGE_POS,     500000
ACM,  SET,     D_ACM_RELATIVE_RANGE_NEG,     -500000
ACM,  SET,     D_ACM_ACM_ABS_MOVING_TIME,    180000
ACM,  SET,     D_ACM_ACM_REL_MOVING_TIME,    15000
ACM,  SET,     D_ACM_ACM_TOLERANCE,          100       
ACM,  SET,     D_ACM_LINEAR_ENC_DELAY,       5
ACM,  SET,     D_ACM_RED_COLLIMATED_POS,     2676000
ACM,  SET,     D_ACM_YEL_COLLIMATED_POS,     2736000
ACM,  SET,     D_ACM_BLU_COLLIMATED_POS,     2440000

#
# EOF.
#

