##
## Filename:
##    CctMcc.cfg
##
## Purpose:
##    Configuration file for Computer Control Task - MCC.
##
## Description:
##    Contains the command line(s) to spawn the software to run on the node.
##
## Authors:
##    mjf: Martyn J. Ford (TTL)
##
## Version:
##   $Id: CctMcc.cfg,v 0.1 2001/05/21 13:21:11 mjf Exp $
##
## History:
##   $Log: CctMcc.cfg,v $
##   Revision 0.1  2001/05/21 13:21:11  mjf
##   Initial revision.
##
##
##

# No software is spawned on the MCC using the CCT

