###############################################################################
## Filename:
##    CmtF2Sys.cfg
##
## Purpose:
##    Configuration parameters for the CMT on SYS.
##
## Description:
##    Defines system specific parameters for the CMT
##    (Computer Monitoring Task).
##
##    Parameter options:
##      DISK,      _root_path_of_disk
##      
##      HWMON,     _hardware_monitoring_card
##      Options: AUTO, NONE, GL520SM, AS99127F, W83XXXXX, MAX1247
##      
##      HWMETHOD,  _method_for_monitoring_hardware
##      Options: NONE, IOPORT, SMBUS 
##       
## Authors:
##    mjf: Martyn Ford (TTL)
##
## Version:
##   $Id: CmtF2Sys.cfg,v 0.1 2008/02/14 12:31:13 mjf Exp $
##
## History:
##   $Log: CmtF2Sys.cfg,v $
##   Revision 0.1  2008/02/14 12:31:13  mjf
##   Initial revision.
##
##
##
###############################################################################
##
## Disks to monitor
##
##     Disk name , (Optional) % threshold to warn at
DISK,     /dev/sda2, 25
DISK,     /dev/sda3, 25
##
## Hardware monitoring chip name
##
#HWMON,     NONE
#HWMON,     AUTO
#HWMON,     W83XXXXX
#HWMON,     GL520SM
#HWMON,     AS99127F
#HWMON,     MAX1247
##
## Method for monitoring hardware
##
#HWMETHOD, IOPORT
HWMETHOD,  NONE
#HWMETHOD, SMBUS
###############################################################################
## End of Cmt.cfg
###############################################################################

