##
## Filename:
##    Hnf_hazyu7_63.cfg
##
## Purpose:
##    H-infinity servo controller configuration file.
##
## Description:
##    This file contains the configuration parameters that are required
##    for the H-infinity algorithm which is used for axis servo control.
##    These parameters are read by the AMC (Axis Motion Controller)
##    software at start-up. If this file is unavailable, then the AMC will
##    disable its H-infinity controller and use a simple PID algorithm
##    instead.
##
##    The order of the parameters, and their placement within the the
##    lines of this file is critical. The order may not be altered without
##    modification to the AMC code.
##
##    This configuration file is specific for the AZIMUTH axis.
##
##    H-infinity Controller: hazyu7  Azimuth ESTIMATED Model for YUNNAN
##    Alpha TP 50 Gearbox 110:1
##    Using frequency response data at Zenith, increased structural stiffness, 
##    modified friction model, reduced drive stiffness for Horizon
##    INERTIA 92900 control penalty 0.05
##    Penalty on Complementary Sensitivy Added
##    11th order controller
##    
##    Anti-windup: Set last three entries of Bc to zero when Torques saturate
##
## Authors:
##    gam: Gustavo Medrano-Cerda (TTL)
##    mjf: Martyn J. Ford (TTL)
##
## Version:
##   $Id: Hnf_hazyu7_63.cfg,v 0.2 2004/09/08 16:18:47 mjf Exp $
##
## History:
##   $Log: Hnf_hazyu7_63.cfg,v $
##   Revision 0.2  2004/09/08 16:18:47  mjf
##   Converted to correct line-endings.
##
##   Revision 0.1  2004/06/19 13:00:37  mjf
##   Initial revision.
##
##
##
#
# HinfGain (multiplied by 2 once loaded)
#
 63.916
#
# HinfP2Gain (multiplied by 2 once loaded)
#
 4.054141496881541e-003
#
# Matrix A (NxN)
#
  5.330877583418405e-001,   3.892870437914638e-001,                         0,                         0,                         0,                         0,                         0,                         0,                         0,                         0,                         0
 -3.892870437914638e-001,   5.330877583418405e-001,                         0,                         0,                         0,                         0,                         0,                         0,                         0,                         0,                         0
                       0,                        0,    3.003871945715191e-001,                         0,                         0,                         0,                         0,                         0,                         0,                         0,                         0
                       0,                        0,                         0,    5.582724342442845e-001,                         0,                         0,                         0,                         0,                         0,                         0,                         0
                       0,                        0,                         0,                         0,    9.605678744767082e-001,    2.137351877665616e-001,                         0,                         0,                         0,                         0,                         0
                       0,                        0,                         0,                         0,   -2.137351877665616e-001,    9.605678744767082e-001,                         0,                         0,                         0,                         0,                         0
                       0,                        0,                         0,                         0,                         0,                         0,    8.960551053309711e-001,    5.972320421804439e-002,                         0,                         0,                         0
                       0,                        0,                         0,                         0,                         0,                         0,   -5.972320421804439e-002,    8.960551053309711e-001,                         0,                         0,                         0
                       0,                        0,                         0,                         0,                         0,                         0,                         0,                         0,    9.999999978200275e-001,                         0,                         0
                       0,                        0,                         0,                         0,                         0,                         0,                         0,                         0,                         0,    9.999999924297245e-001,                         0
                       0,                        0,                         0,                         0,                         0,                         0,                         0,                         0,                         0,                         0,    9.999750003132613e-001
#
# Number of common rows between Matrix B and Matrix Bsat (saturated matrix).
#
    8
#
# Matrix B (Nx1) (zero terms 9 to 11 for Bsat matrix).
#
   -3.418577437244739e-001
   -6.531746216124743e-001
   -2.809277510747281e-001
    4.072244635044406e-001
   -2.975433591210566e-002
    1.421179097462336e-001
   -4.901165443584736e-001
    1.840149706070792e-001
   -4.725651234342939e+002
   -4.726666666760851e+002
    1.016511645531412e-001
#               
# Matrix C (1xN)
#
  9.496999516180214e-003,  -9.987050016879825e-003,   -4.854736707065703e-003,   -4.236623447098169e-003,   -4.419907239901421e-003,    1.404165139274844e-002,    6.895191417695775e-004,    2.566361216113647e-003,   -1.284965764532565e+000,    1.284957860627664e+000,    1.247514266268975e+000
#
# HInfProportionalGainDc
#
    4.611195561928619e-003
#
# Filter coefficients (N0, N1, N2, N3). Set to 1,0,0,0 to disable.
#
   0.730
   0.270
   0.000
   0.000
##
## EOF
##
