##
## Filename:
##    SimNasMinus.cfg
##
## Purpose:
##    Axis Control Node - Masnyth- configuration file (simulation).
##
## Description:
##    -
##
## Authors:
##    mjf: Martyn J. Ford (TTL)
##
## Version:
##   $Id: SimNasMinus.cfg,v 0.2 2006/10/19 13:13:25 mjf Exp $
##
## History:
##   $Log: SimNasMinus.cfg,v $
##   Revision 0.2  2006/10/19 13:13:25  mjf
##   Deploy 16 generic agents.
##
##   Revision 0.1  2006/10/12 16:43:04  mjf
##   Initial revision.
##
##
##


#
#  OID Server spawn settings
#
# Dummy heartbeat task for other rotator
NMN,  SPAWN,   /ttl/sw/bin/Dht -q -cil CSC
# RepServer
NMN,  SPAWN,   /ttl/sw/bin/Rep -q -nminus
# Generic agents
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
NMN,  SPAWN,   /ttl/sw/bin/Agn -q -nminus
# Node State Controller
NMN,  SPAWN,   /ttl/sw/bin/Nsc -config /ttl/sw/etc/SimNasMinus.cfg -sim
# ACN Comms-out
NMN,  SPAWN,   /ttl/sw/bin/Nco -q -nminus 
# ACN Comms-in
NMN,  SPAWN,   /ttl/sw/bin/Nci -q -nminus 


#  NSC spawn settings.
#
#              PATH                          COMMAND_LINE_ARGUMENTS
NSC,  SPAWN,   /ttl/sw/bin/Tfp -q -sim
NSC,  SPAWN,   /ttl/sw/bin/Mif -q -config /ttl/sw/etc/SimNasMinus.cfg -sim
NSC,  SPAWN,   /ttl/sw/bin/Ven -q -config /ttl/sw/etc/SimNasMinus.cfg -sim
NSC,  SPAWN,   /ttl/sw/bin/Amc -q -config /ttl/sw/etc/SimNasMinus.cfg -sim
NSC,  SPAWN,   /ttl/sw/bin/Asc -q
NSC,  SPAWN,   /ttl/sw/bin/Nmc -q

# AMC DataID Initial settings.
AMC,  SET,  D_AMC_LIMIT_RECOVERY_DISTANCE,      10000       # Limit recovery distance in m.a.s.
AMC,  SET,  D_AMC_PID_P1_GAIN,                  7536648     # P1 gain (x 1e9).
AMC,  SET,  D_AMC_PID_P2_GAIN,                 -941684      # -ve to invert feedback P2 gain (x 1e9).
AMC,  SET,  D_AMC_PID_K1_GAIN,                  38064       # K1 gain (x 1e9).
AMC,  SET,  D_AMC_HOMING_VELOCITY,              3600        # Homing velocity in mas/sec.
AMC,  SET,  D_AMC_MAX_HOMING_DURATION,          90          # Maximum homing duration (seconds).
AMC,  SET,  D_AMC_VELOCITY_LIMIT,               7200        # 7200 # Maximum velocity in as/s.
AMC,  SET,  D_AMC_ACCELERATION_LIMIT,           1800        # Maximum acceleration in as/s^2.
AMC,  SET,  D_AMC_VELOCITY_CONTROL_DC_GAIN,     1           # Velocity loop gain
AMC,  SET,  D_AMC_MTR_VEL_FEEDBACK_FRACTION,    95000       # For motor torque correction (/2)

# MIF DataID Initial settings.
MIF,  SET,  D_MIF_AXIS_TORQUE_LIMIT,            1510        # 1260 # Axis torque limit in mNm.
MIF,  SET,  D_MIF_AMPLIFIER_GAIN,               2000        # Amplifier gain in milli-Amps per Volt.
MIF,  SET,  D_MIF_MOTOR_GAIN,                   251         # Motor gain in mNm per Amp.
MIF,  SET,  D_MIF_DAC_GAIN,                     3277        # Dac gain in bits per volt.
MIF,  SET,  D_MIF_DAC_OFFSET,                   32768       # Dac offset in bits.
MIF,  SET,  D_MIF_MOTOR_FULL_PRELOAD_TORQUE,    750         # Motor preload torque in milli Newton metres.
MIF,  SET,  D_MIF_MOTOR_TORQUE_MAX_LIMIT,       1500        # Maximum value for any one motor torque
MIF,  SET,  D_MIF_MOTOR_TORQUE_MIN_LIMIT,       30          # Minimum value for any one motor torque

# VEN DataID Initial settings.
VEN,  SET,  D_VEN_AXIS_COUNTS_PER_REV,          36000       # Number of tape counts per axis rev.
VEN,  SET,  D_VEN_MOTOR_COUNTS_PER_REV,         5000        # Number of tape counts per motor rev.
VEN,  SET,  D_VEN_MIN_TAPE_DIFF_COUNT,          0           # Minimum tape difference count.
VEN,  SET,  D_VEN_MAX_TAPE_DIFF_COUNT,          500         # Maximum tape difference count.
VEN,  SET,  D_VEN_AXIS_ENCODER_NEG_FEEDBACK,    0           # Negative axis position feedback.
VEN,  SET,  D_VEN_MOTOR_ENCODER_NEG_FEEDBACK,   1           # Negative motor position feedback.
VEN,  SET,  D_VEN_AXIS_ENC_1_OFFSET,            0           # Axis encoder 1 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_1_OFFSET_DUMMY,      0           # Axis encoder 1 offset count (MSW).
VEN,  SET,  D_VEN_AXIS_ENC_2_OFFSET,            0           # Axis encoder 2 offset count (LSW).
VEN,  SET,  D_VEN_AXIS_ENC_2_OFFSET_DUMMY,      0           # Axis encoder 2 offset count (MSW).
VEN,  SET,  D_VEN_JOIN_POSITION,                0           # Join position relative to Zenith   in mas = +90 deg.
VEN,  SET,  D_VEN_HEAD_1_POSITION,              36000000    # Head 1 position relative to zenith in mas =  10 deg.
VEN,  SET,  D_VEN_HEAD_2_POSITION,             -288000000   # Head 2 position relative to zenith in mas =  80 deg.
VEN,  SET,  D_VEN_HEAD_3_POSITION,              0           # Head 3 position relative to zenith in mas = +45 deg.
VEN,  SET,  D_VEN_HEAD_4_POSITION,              0           # Head 4 position relative to zenith in mas = -45 deg.
VEN,  SET,  D_VEN_CLOCKWISE_L1_LIMIT_POSITION,  864000000   # CW  L1 limit in mas = +230 deg.
VEN,  SET,  D_VEN_ANTI_CW_L1_LIMIT_POSITION,   -864000000   # ACW L1 limit in mas = -230 deg.
VEN,  SET,  D_VEN_ABS_LIN_ENC_TOLERANCE,        54000000    # Max. permitted Abs/Lin Enc. difference (mas)
VEN,  SET,  D_VEN_EXPECTED_ENCODER_MASK,        3           # Bitmask of encoders expected to be used
VEN,  SET,  D_VEN_AXIS_HOME_ATTRACT_POSITION,   0           # Position towards which the axis should be homed (mas).
VEN,  SET,  D_VEN_AXIS_PARK_POSITION,           54000000    # Preferred axis parked position

VEN,  SET,  D_VEN_HHE_ABS_ENC_OFFSET,           0           # Axis angle at a reference position (mas)
VEN,  SET,  D_VEN_HHE_ABS_ENC_ORIGIN,           9243649     # Abs. encoder count at a reference position
VEN,  SET,  D_VEN_HHE_ABS_ENC_PINION_TEETH,     99          # No. of teeth on pinion
VEN,  SET,  D_VEN_HHE_ABS_ENC_SPUR_TEETH,       34          # No. of teeth on spur wheel
VEN,  SET,  D_VEN_HHE_ABS_ENC_ENABLED,          1           # Use the EnDat Abs encoder
VEN,  SET,  D_VEN_HHE_ABS_ENC_PORT,             9           # IK220 port number for absolute encoder
VEN,  SET,  D_VEN_HHE_ABS_ENC_NEG_FEEDBACK,     1           # Invert direction

VEN,  SET,  D_VEN_HHE_MOTOR_1_PORT,             4           # First motor encoder port
VEN,  SET,  D_VEN_HHE_TAPE_ENC_1_PORT,          6           # First tape encoder port

VEN,  SET,  D_VEN_USE_ERA180_ENCODER,           1           # Nasmyth encoder ring
#
# EOF.
#
