##
## Filename:
##    Wms.cfg
##
## Purpose:
##    Weather Monitoring System configuration file.
##
## Description:
##    This file specifies the configuration of the WMS software.
##
## Authors:
##    sxf: Steve Foale    (TTL)
##
## Version:
##   $Id: Wms.cfg,v 0.6 2008/02/19 11:46:18 mjf Exp $
##
## History:
##   $Log: Wms.cfg,v $
##   Revision 0.6  2008/02/19 11:46:18  mjf
##   Change of '/opt/ttl' paths to '/ttl/sw' for QNX v6 and Linux.
##
##   Revision 0.5  2007/07/27 08:51:46  mjf
##   Make lower temperature limit 0 degrees.
##
##   Revision 0.4  2007/07/13 10:37:00  mjf
##   Simulation better reflects actual weather data implementations.
##
##   Revision 0.3  2003/12/02 12:37:27  mjf
##   Simulate wind-speed, not from file.
##
##   Revision 0.2  2003/11/28 16:18:12  mjf
##   Implement WMS simulation.
##
##   Revision 0.1  2003/02/05 10:39:17  mjf
##   Initial revision.
##
##
##
##############################################################################
##
## For each symbol the following are defined:
##
##   Symbol : The symbol identifier 
##   Source : Source of data (SIMULATE or WS or FILE)
##   Low    : Lower limit of valid range
##   High   : Upper limit of valid range
##   N      : Number allowed out of range
##   Crit   : Determines whether Wms enters WARNING state or SUSPEND state
##            if too many out of range values are read.
##   Use    : Indicates if this reading should be used to determine weather
##            state (can be TRUE or FALSE).
##   Run av : Running average, ie how many to readings to average over
##
############################################################################################
#Keywd  Symbol Source     Low   High    N   Crit    Use    Run av  Comment
############################################################################################
DEFINE, PT,     SIMULATE,    0,   +60,  10,  FALSE,   TRUE,  1    # Temperature
DEFINE, VH,     SIMULATE,  0.0,  90.0,   1,   TRUE,   TRUE,  1    # Humidity
DEFINE, TDEW,   SIMULATE,  -40,   +20,  10,  FALSE,   TRUE,  1    # Dew point
DEFINE, F1WS,   SIMULATE,  0.0,  22.2,  5,    TRUE,   TRUE,  1    # Wind speed
DEFINE, RPWD,   SIMULATE,    0,   359,  10,  FALSE,   TRUE,  1    # Wind direction
DEFINE, VPR,    SIMULATE,  500,  1100,  10,  FALSE,   TRUE,  1    # Air pressure
DEFINE, DSWE,   SIMULATE,    4,     5,   1,   TRUE,   TRUE,  1    # Surface wetness (dig)
DEFINE, VWE,    SIMULATE,    0,     7,   3,   TRUE,   TRUE,  1    # Surface wetness (an)
DEFINE, VPY,    SIMULATE,    0,  2000,   10, FALSE,   TRUE,  1    # Light
DEFINE, UIN,    SIMULATE,   11,    13,   10, FALSE,   TRUE,  1    # Internal voltage
DEFINE, IR,     SIMULATE,  1.1,   1.3,   10, FALSE,   TRUE,  1    # Internal current
DEFINE, TIN,    SIMULATE,  -50,   100,   10, FALSE,   TRUE,  1    # Internal temperature
DEFINE, RT,     SIMULATE,  -40,    80,   3,   TRUE,   TRUE,  1    # Reference temperature
# DEFINE, RWS,    SIMULATE,    0,  22.2,   5,   TRUE,   TRUE,  1    # Remote wind speed
# DEFINE, RVWS,   SIMULATE,    0,  22.2,   5,   TRUE,   TRUE,  1    # Remote vert wind speed
# DEFINE, RWE,    SIMULATE,    0,     7,   3,   TRUE,   TRUE,  1    # Remote wetness
DEFINE, ICE,    SIMULATE,    0,     5,   5,   TRUE,   TRUE,  1    # Ice thickness
DEFINE, CCOV,   SIMULATE,    0,    30,   5,   TRUE,   TRUE,  1    # Cloud cover
DEFINE, TCOV,   SIMULATE,    0,    20,   5,   TRUE,   TRUE,  1    # Thin cloud cover
DEFINE, CPRE,   SIMULATE,   15,   100,   5,   TRUE,   TRUE,  1    # CAPS prediction
# DEFINE, CFOR,   SIMULATE,   15,   100,   5,   TRUE,   TRUE,  1    # CAPS forecast
# DEFINE, DIS,    SIMULATE,    0,     1,   1,   TRUE,   TRUE,  1    # Disaster flag
############################################################################################
##
## Path for weather file containing data as defined above using FILE keyword.
##
###############################################################################

WEATHER_FILE, /ttl/sw/tmp/WmsWeather.txt

##############################################################################
##                                                         
## For each command the following are defined:
##
##   String : Next command string in sequence associated with Command
##   Delay  : Number of seconds to delay after sending command
##   Reply  : TRUE if a reply is expected, FALSE otherwise
##
###############################################################################
##
#Keyword Command   String         Delay (secs) Reply
##
################################################################################
##
## STARTUP command
##
COMMAND, STARTUP,  "CLOSE<cr>"      , 1       , TRUE
COMMAND, STARTUP,  "OPEN A<cr>"     , 1       , TRUE
COMMAND, STARTUP,  "PAR<cr>"        , 4       , TRUE
COMMAND, STARTUP,  "STA<cr>"        , 4       , TRUE
COMMAND, STARTUP,  "CLOSE<cr>"      , 1       , TRUE
##                
## ACQUIRE command (acquire data)
##
COMMAND, ACQUIRE,  "<syn>AA<cr>", 1           , FALSE
COMMAND, ACQUIRE,  "<enq>AA<cr>", 1           , TRUE
##
## ENGINEER command (enter engineering mode)
##
COMMAND, ENGINEER, "OPEN A<cr>"     , 1       , TRUE
COMMAND, ENGINEER, "ECHO ON<cr>"    , 1       , TRUE
##
## LEAVEENG command (leave engineering mode)
##
COMMAND, LEAVEENG, "CLOSE<cr>"      , 1       , TRUE
COMMAND, LEAVEENG, "ECHO OFF<cr>"   , 1       , TRUE
COMMAND, LEAVEENG, "PAR<cr>"        , 4       , TRUE
COMMAND, LEAVEENG, "STA<cr>"        , 4       , TRUE
COMMAND, LEAVEENG, "CLOSE<cr>"      , 1       , TRUE
##
## RESET command
##
COMMAND, RESET,    "OPEN A<cr>"     , 1       , TRUE
COMMAND, RESET,    "ECHO ON<cr>"    , 1       , TRUE
COMMAND, RESET,    "RESET<cr>"      , 1       , TRUE
COMMAND, RESET,    "OPEN A<cr>"     , 1       , TRUE
COMMAND, RESET,    "PAR<cr>"        , 4       , TRUE
COMMAND, RESET,    "STA<cr>"        , 4       , TRUE
COMMAND, RESET,    "CLOSE<cr>"      , 1       , TRUE
###############################################################################
##
## SET commands
##
###############################################################################

WMS, SET, FILE_TIME_TOL,        2           # Max allowed age of Weather data file (secs)
WMS, SET, SERIAL_REQ_DELAY,     10          # Delay between weather station requests (msecs)
WMS, SET, MIN_TDEW_PT_DIFF,     1000        # Minimum difference between PT and TDEW (mC)

###############################################################################
##
## End of file Wms.cfg
##
###############################################################################
