##
## Filename:
##    CctCas.cfg
##
## Purpose:
##    Configuration file for Computer Control Task - cassegrain node.
##
## Description:
##    Contains the command line(s) to spawn the software to run on the node.
##
## Authors:
##    mjf: Martyn J. Ford (TTL)
##
## Version:
##   $Id: CctCas.cfg,v 0.3 2004/04/28 16:52:23 mjf Exp $
##
## History:
##   $Log: CctCas.cfg,v $
##   Revision 0.3  2004/04/28 16:52:23  mjf
##   Fixing of '/opt/ttl/' paths to be '/ttl/sw/'.
##
##   Revision 0.2  2001/07/25 17:54:59  mjf
##   Comment-in the starting of the cassegrain node software.
##
##   Revision 0.1  2001/05/21 13:21:11  mjf
##   Initial revision.
##
##
##

# Start the OidServer for the cassegrain node
/ttl/sw/bin/OidServer -q -cassegrain

