###############################################################################
## Filename:
##    CmtYnAmn.cfg
##
## Purpose:
##    Configuration parameters for the Cmt on amn.
##
## Description:
##    Defines system specific parameters for the CMT
##    (Computer Monitoring Task).
##
##    Parameter options:
##      DISK,      _root_path_of_disk
##      
##      HWMON,     _hardware_monitoring_card
##      Options: AUTO, NONE, GL520SM, AS99127F, W83XXXXX, MAX1247
##      
##      HWMETHOD,  _method_for_monitoring_hardware
##      Options: NONE, IOPORT, SMBUS 
##       
## Authors:
##    mjf: Martyn Ford (TTL)
##
## Version:
##   $Id: CmtYnAmn.cfg,v 0.1 2004/04/23 13:33:33 mjf Exp $
##
## History:
##   $Log: CmtYnAmn.cfg,v $
##   Revision 0.1  2004/04/23 13:33:33  mjf
##   Initial revision.
##
##
##
###############################################################################
##
## Disks to monitor
##
##
## Hardware monitoring chip name
##
#HWMON,     NONE
#HWMON,     AUTO
#HWMON,     W83XXXXX
#HWMON,    GL520SM
#HWMON,     AS99127F
#HWMON,     MAX1247
##
## Method for monitoring hardware
##
#HWMETHOD, IOPORT
HWMETHOD,  NONE
#HWMETHOD, SMBUS
###############################################################################
## End of Cmt.cfg
###############################################################################

