###################################
#        migrate.cfg              #
#                                 #
# template for influx_migrate.sh  #
###################################



# Start and stop times
START TIME, 20M_DATE M_HOUR:00:00.000
STOP TIME,  20M_DATE M_HOUR:59:59.999

# Datums to extract in blocks of 80
DAT, MSR, RED_PROP_GAIN_MIN
DAT, MSR, RED_PROP_GAIN_MAX
DAT, MSR, RED_INT_GAIN_MIN
DAT, MSR, RED_INT_GAIN_MAX
DAT, MSR, RED_DERIV_GAIN
DAT, MSR, RED_LEARNING
DAT, MSR, RED_ERR_THRES
DAT, MSR, YEL_ADAP_CTRL
DAT, MSR, YEL_PROP_GAIN_MIN
DAT, MSR, YEL_PROP_GAIN_MAX
DAT, MSR, YEL_INT_GAIN_MIN
DAT, MSR, YEL_INT_GAIN_MAX
DAT, MSR, YEL_DERIV_GAIN
DAT, MSR, YEL_LEARNING
DAT, MSR, YEL_ERR_THRES
DAT, MSR, BLU_ADAP_CTRL
DAT, MSR, BLU_PROP_GAIN_MIN
DAT, MSR, BLU_PROP_GAIN_MAX
DAT, MSR, BLU_INT_GAIN_MIN
DAT, MSR, BLU_INT_GAIN_MAX
DAT, MSR, BLU_DERIV_GAIN
DAT, MSR, BLU_LEARNING
DAT, MSR, BLU_ERR_THRES
DAT, MSR, INCLIN_FILTER_IN_T0
DAT, MSR, INCLIN_FILTER_IN_T1
DAT, MSR, INCLIN_FILTER_OUT
DAT, MSR, LAT_FEED_FWD
DAT, MSR, LAT_PRELOAD_AMP
DAT, MSR, NCI_PROC_STATE
DAT, MSR, NCI_VERSION
DAT, MSR, NCI_SERVER_SHUTDOWN
DAT, MSR, TALLY_BASE
DAT, MSR, NCO_PROC_STATE
DAT, MSR, NCO_VERSION
DAT, MSR, NCO_SERVER_SHUTDOWN
DAT, MSR, ACM_PROC_STATE
DAT, MSR, ACM_APP_VERSION
DAT, MSR, ACM_SHUTDOWN
DAT, MSR, ACM_STATE
DAT, MSR, ACM_ENABLE
DAT, MSR, ACM_HOME
DAT, MSR, HOME_LINEAR_ENCS
DAT, MSR, ACM_STOP_DEMAND
DAT, MSR, RED_HOME
DAT, MSR, RED_STATE
DAT, MSR, RED_ACTUAL
DAT, MSR, RED_DEMAND
DAT, MSR, RED_HOME_ENC
DAT, MSR, RED_ENC_HOMED
DAT, MSR, RED_LINEAR
DAT, MSR, RED_PROXIMITY
DAT, MSR, RED_COLLIMATED_POS
DAT, MSR, RED_ENC_CALIBRATION
DAT, MSR, YEL_HOME
DAT, MSR, YEL_STATE
DAT, MSR, YEL_ACTUAL
DAT, MSR, YEL_DEMAND
DAT, MSR, YEL_HOME_ENC
DAT, MSR, YEL_ENC_HOMED
DAT, MSR, YEL_LINEAR
DAT, MSR, YEL_PROXIMITY
DAT, MSR, YEL_COLLIMATED_POS
DAT, MSR, YEL_ENC_CALIBRATION
DAT, MSR, BLU_HOME
DAT, MSR, BLU_STATE
DAT, MSR, BLU_ACTUAL
DAT, MSR, BLU_DEMAND
DAT, MSR, BLU_HOME_ENC
DAT, MSR, BLU_ENC_HOMED
DAT, MSR, BLU_LINEAR
DAT, MSR, BLU_PROXIMITY
DAT, MSR, BLU_COLLIMATED_POS
DAT, MSR, BLU_ENC_CALIBRATION
DAT, MSR, ACM_RANGE_LO
DAT, MSR, ACM_RANGE_HI
DAT, MSR, ACM_REL_MOVING_TIME
DAT, MSR, ACM_ABS_MOVING_TIME
DAT, MSR, ACM_STOPPED
DAT, MSR, ACM_AT_ZERO
DAT, MSR, ACM_TOLERANCE
# Output file to create
OUTPUT, M_OUTPUT.dat
