###################################
#        migrate.cfg              #
#                                 #
# template for influx_migrate.sh  #
###################################



# Start and stop times
START TIME, 20M_DATE M_HOUR:00:00.000
STOP TIME,  20M_DATE 0M_PLUS_HOUR:00:00.000
DAT, MSR, OFFSET_LAT_PRELOAD_VALVE_FBK
DAT, MSR, OFFSET_LAT_2_LOAD_VALVE_FBK
DAT, MSR, OFFSET_LAT_2_PRELOAD_VALVE_FBK
DAT, MSR, SD_CELL_1_1
DAT, MSR, SD_CELL_1_2
DAT, MSR, SD_CELL_1_3
DAT, MSR, SD_CELL_2_1
DAT, MSR, SD_CELL_2_2
DAT, MSR, SD_CELL_2_3
DAT, MSR, SD_CELL_3_1
DAT, MSR, SD_CELL_3_2
DAT, MSR, SD_CELL_3_3
DAT, MSR, INCLIN_FILTER_COEFF_1
DAT, MSR, INCLIN_FILTER_COEFF_2
DAT, MSR, NOISE_FILTER_IN_T0
DAT, MSR, NOISE_FILTER_IN_T1
DAT, MSR, NOISE_FILTER_OUT
DAT, MSR, RED_AX_CTRL_T1
DAT, MSR, RED_AX_CTRL_T2
DAT, MSR, RED_AX_CTRL_T3
DAT, MSR, RED_AX_CTRL_T4
DAT, MSR, YEL_AX_CTRL_T1
DAT, MSR, YEL_AX_CTRL_T2
DAT, MSR, YEL_AX_CTRL_T3
DAT, MSR, YEL_AX_CTRL_T4
DAT, MSR, BLU_AX_CTRL_T1
DAT, MSR, BLU_AX_CTRL_T2
DAT, MSR, BLU_AX_CTRL_T3
DAT, MSR, BLU_AX_CTRL_T4
DAT, MSR, RED_AX_INPUT_T0
DAT, MSR, RED_AX_INPUT_T1
DAT, MSR, RED_AX_INPUT_T2
DAT, MSR, RED_AX_INPUT_T3
DAT, MSR, RED_AX_INPUT_T4
DAT, MSR, RED_AX_INPUT_T5
DAT, MSR, YEL_AX_INPUT_T0
DAT, MSR, YEL_AX_INPUT_T1
DAT, MSR, YEL_AX_INPUT_T2
DAT, MSR, YEL_AX_INPUT_T3
DAT, MSR, YEL_AX_INPUT_T4
DAT, MSR, YEL_AX_INPUT_T5
DAT, MSR, BLU_AX_INPUT_T0
DAT, MSR, BLU_AX_INPUT_T1
DAT, MSR, BLU_AX_INPUT_T2
DAT, MSR, BLU_AX_INPUT_T3
DAT, MSR, BLU_AX_INPUT_T4
DAT, MSR, BLU_AX_INPUT_T5
DAT, MSR, LAT_CTRL_T0
DAT, MSR, LAT_CTRL_T1
DAT, MSR, LAT_CTRL_T2
DAT, MSR, ADAPTIVE_PID_ENABLE
DAT, MSR, RED_ADAP_CTRL
DAT, MSR, RED_PROP_GAIN_MIN
DAT, MSR, RED_PROP_GAIN_MAX
DAT, MSR, RED_INT_GAIN_MIN
DAT, MSR, RED_INT_GAIN_MAX
DAT, MSR, RED_DERIV_GAIN
DAT, MSR, RED_LEARNING
DAT, MSR, RED_ERR_THRES
DAT, MSR, YEL_ADAP_CTRL
DAT, MSR, YEL_PROP_GAIN_MIN
DAT, MSR, YEL_PROP_GAIN_MAX
DAT, MSR, YEL_INT_GAIN_MIN
DAT, MSR, YEL_INT_GAIN_MAX
DAT, MSR, YEL_DERIV_GAIN
DAT, MSR, YEL_LEARNING
DAT, MSR, YEL_ERR_THRES
DAT, MSR, BLU_ADAP_CTRL
DAT, MSR, BLU_PROP_GAIN_MIN
DAT, MSR, BLU_PROP_GAIN_MAX
DAT, MSR, BLU_INT_GAIN_MIN
DAT, MSR, BLU_INT_GAIN_MAX
DAT, MSR, BLU_DERIV_GAIN
DAT, MSR, BLU_LEARNING
DAT, MSR, BLU_ERR_THRES
DAT, MSR, INCLIN_FILTER_IN_T0
DAT, MSR, INCLIN_FILTER_IN_T1
DAT, MSR, INCLIN_FILTER_OUT
DAT, MSR, LAT_FEED_FWD
DAT, MSR, LAT_PRELOAD_AMP
# Output file to create
OUTPUT, M_OUTPUT.dat
###################################
#        migrate.cfg              #
#                                 #
# template for influx_migrate.sh  #
###################################



# Start and stop times
START TIME, 20M_DATE M_HOUR:00:00.000
STOP TIME,  20M_DATE 0M_PLUS_HOUR:00:00.000

# Datums to extract in blocks of 80
DAT, MSR, OFFSET_LAT_PRELOAD_VALVE_FBK
DAT, MSR, OFFSET_LAT_2_LOAD_VALVE_FBK
DAT, MSR, OFFSET_LAT_2_PRELOAD_VALVE_FBK
DAT, MSR, SD_CELL_1_1
DAT, MSR, SD_CELL_1_2
DAT, MSR, SD_CELL_1_3
DAT, MSR, SD_CELL_2_1
DAT, MSR, SD_CELL_2_2
DAT, MSR, SD_CELL_2_3
DAT, MSR, SD_CELL_3_1
DAT, MSR, SD_CELL_3_2
DAT, MSR, SD_CELL_3_3
DAT, MSR, INCLIN_FILTER_COEFF_1
DAT, MSR, INCLIN_FILTER_COEFF_2
DAT, MSR, NOISE_FILTER_IN_T0
DAT, MSR, NOISE_FILTER_IN_T1
DAT, MSR, NOISE_FILTER_OUT
DAT, MSR, RED_AX_CTRL_T1
DAT, MSR, RED_AX_CTRL_T2
DAT, MSR, RED_AX_CTRL_T3
DAT, MSR, RED_AX_CTRL_T4
DAT, MSR, YEL_AX_CTRL_T1
DAT, MSR, YEL_AX_CTRL_T2
DAT, MSR, YEL_AX_CTRL_T3
DAT, MSR, YEL_AX_CTRL_T4
DAT, MSR, BLU_AX_CTRL_T1
DAT, MSR, BLU_AX_CTRL_T2
DAT, MSR, BLU_AX_CTRL_T3
DAT, MSR, BLU_AX_CTRL_T4
DAT, MSR, RED_AX_INPUT_T0
DAT, MSR, RED_AX_INPUT_T1
DAT, MSR, RED_AX_INPUT_T2
DAT, MSR, RED_AX_INPUT_T3
DAT, MSR, RED_AX_INPUT_T4
DAT, MSR, RED_AX_INPUT_T5
DAT, MSR, YEL_AX_INPUT_T0
DAT, MSR, YEL_AX_INPUT_T1
DAT, MSR, YEL_AX_INPUT_T2
DAT, MSR, YEL_AX_INPUT_T3
DAT, MSR, YEL_AX_INPUT_T4
DAT, MSR, YEL_AX_INPUT_T5
DAT, MSR, BLU_AX_INPUT_T0
DAT, MSR, BLU_AX_INPUT_T1
DAT, MSR, BLU_AX_INPUT_T2
DAT, MSR, BLU_AX_INPUT_T3
DAT, MSR, BLU_AX_INPUT_T4
DAT, MSR, BLU_AX_INPUT_T5
DAT, MSR, LAT_CTRL_T0
DAT, MSR, LAT_CTRL_T1
DAT, MSR, LAT_CTRL_T2
DAT, MSR, ADAPTIVE_PID_ENABLE
DAT, MSR, RED_ADAP_CTRL
DAT, MSR, RED_PROP_GAIN_MIN
DAT, MSR, RED_PROP_GAIN_MAX
DAT, MSR, RED_INT_GAIN_MIN
DAT, MSR, RED_INT_GAIN_MAX
DAT, MSR, RED_DERIV_GAIN
DAT, MSR, RED_LEARNING
DAT, MSR, RED_ERR_THRES
DAT, MSR, YEL_ADAP_CTRL
DAT, MSR, YEL_PROP_GAIN_MIN
DAT, MSR, YEL_PROP_GAIN_MAX
DAT, MSR, YEL_INT_GAIN_MIN
DAT, MSR, YEL_INT_GAIN_MAX
DAT, MSR, YEL_DERIV_GAIN
DAT, MSR, YEL_LEARNING
DAT, MSR, YEL_ERR_THRES
DAT, MSR, BLU_ADAP_CTRL
DAT, MSR, BLU_PROP_GAIN_MIN
DAT, MSR, BLU_PROP_GAIN_MAX
DAT, MSR, BLU_INT_GAIN_MIN
DAT, MSR, BLU_INT_GAIN_MAX
DAT, MSR, BLU_DERIV_GAIN
DAT, MSR, BLU_LEARNING
DAT, MSR, BLU_ERR_THRES
DAT, MSR, INCLIN_FILTER_IN_T0
DAT, MSR, INCLIN_FILTER_IN_T1
DAT, MSR, INCLIN_FILTER_OUT
DAT, MSR, LAT_FEED_FWD
DAT, MSR, LAT_PRELOAD_AMP
# Output file to create
OUTPUT, M_OUTPUT.dat
###################################
#        migrate.cfg              #
#                                 #
# template for influx_migrate.sh  #
###################################



# Start and stop times
START TIME, 20M_DATE M_HOUR:00:00.000
STOP TIME,  20M_DATE 0M_PLUS_HOUR:00:00.000

# Datums to extract in blocks of 80
DAT, MSR, OFFSET_LAT_PRELOAD_VALVE_FBK
DAT, MSR, OFFSET_LAT_2_LOAD_VALVE_FBK
DAT, MSR, OFFSET_LAT_2_PRELOAD_VALVE_FBK
DAT, MSR, SD_CELL_1_1
DAT, MSR, SD_CELL_1_2
DAT, MSR, SD_CELL_1_3
DAT, MSR, SD_CELL_2_1
DAT, MSR, SD_CELL_2_2
DAT, MSR, SD_CELL_2_3
DAT, MSR, SD_CELL_3_1
DAT, MSR, SD_CELL_3_2
DAT, MSR, SD_CELL_3_3
DAT, MSR, INCLIN_FILTER_COEFF_1
DAT, MSR, INCLIN_FILTER_COEFF_2
DAT, MSR, NOISE_FILTER_IN_T0
DAT, MSR, NOISE_FILTER_IN_T1
DAT, MSR, NOISE_FILTER_OUT
DAT, MSR, RED_AX_CTRL_T1
DAT, MSR, RED_AX_CTRL_T2
DAT, MSR, RED_AX_CTRL_T3
DAT, MSR, RED_AX_CTRL_T4
DAT, MSR, YEL_AX_CTRL_T1
DAT, MSR, YEL_AX_CTRL_T2
DAT, MSR, YEL_AX_CTRL_T3
DAT, MSR, YEL_AX_CTRL_T4
DAT, MSR, BLU_AX_CTRL_T1
DAT, MSR, BLU_AX_CTRL_T2
DAT, MSR, BLU_AX_CTRL_T3
DAT, MSR, BLU_AX_CTRL_T4
DAT, MSR, RED_AX_INPUT_T0
DAT, MSR, RED_AX_INPUT_T1
DAT, MSR, RED_AX_INPUT_T2
DAT, MSR, RED_AX_INPUT_T3
DAT, MSR, RED_AX_INPUT_T4
DAT, MSR, RED_AX_INPUT_T5
DAT, MSR, YEL_AX_INPUT_T0
DAT, MSR, YEL_AX_INPUT_T1
DAT, MSR, YEL_AX_INPUT_T2
DAT, MSR, YEL_AX_INPUT_T3
DAT, MSR, YEL_AX_INPUT_T4
DAT, MSR, YEL_AX_INPUT_T5
DAT, MSR, BLU_AX_INPUT_T0
DAT, MSR, BLU_AX_INPUT_T1
DAT, MSR, BLU_AX_INPUT_T2
DAT, MSR, BLU_AX_INPUT_T3
DAT, MSR, BLU_AX_INPUT_T4
DAT, MSR, BLU_AX_INPUT_T5
DAT, MSR, LAT_CTRL_T0
DAT, MSR, LAT_CTRL_T1
DAT, MSR, LAT_CTRL_T2
DAT, MSR, ADAPTIVE_PID_ENABLE
DAT, MSR, RED_ADAP_CTRL
DAT, MSR, RED_PROP_GAIN_MIN
DAT, MSR, RED_PROP_GAIN_MAX
DAT, MSR, RED_INT_GAIN_MIN
DAT, MSR, RED_INT_GAIN_MAX
DAT, MSR, RED_DERIV_GAIN
DAT, MSR, RED_LEARNING
DAT, MSR, RED_ERR_THRES
DAT, MSR, YEL_ADAP_CTRL
DAT, MSR, YEL_PROP_GAIN_MIN
DAT, MSR, YEL_PROP_GAIN_MAX
DAT, MSR, YEL_INT_GAIN_MIN
DAT, MSR, YEL_INT_GAIN_MAX
DAT, MSR, YEL_DERIV_GAIN
DAT, MSR, YEL_LEARNING
DAT, MSR, YEL_ERR_THRES
DAT, MSR, BLU_ADAP_CTRL
DAT, MSR, BLU_PROP_GAIN_MIN
DAT, MSR, BLU_PROP_GAIN_MAX
DAT, MSR, BLU_INT_GAIN_MIN
DAT, MSR, BLU_INT_GAIN_MAX
DAT, MSR, BLU_DERIV_GAIN
DAT, MSR, BLU_LEARNING
DAT, MSR, BLU_ERR_THRES
DAT, MSR, INCLIN_FILTER_IN_T0
DAT, MSR, INCLIN_FILTER_IN_T1
DAT, MSR, INCLIN_FILTER_OUT
DAT, MSR, LAT_FEED_FWD
DAT, MSR, LAT_PRELOAD_AMP
# Output file to create
OUTPUT, M_OUTPUT.dat
